{% extends "base.html" %} {% load static %} {% load materializecss %}
{% block extra_css %}
{% endblock %}
{% block page_header %}
<div class="row">
    <div class="col s12 valign-wrapper subheading">
        <h4>Edit Category</h4>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="card-panel">
        <div class="row">
            <form class="col s12" action="{% url 'edit_category' category.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s12">
                        <input id="name" name="name" type="text" class="validate" 
                        minlength="5" maxlength="50" value="{{ category.name }}" required>
                        <label for="name">Database Name (e.g. historical):</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="friendly_name" name="friendly_name" type="text" class="validate" minlength="5"
                            maxlength="100" value="{{ category.friendly_name }}" required>
                        <label for="friendly_name">Display Name (e.g. Historical Tours):</label>
                    </div>
                </div>
                <div class="center-align">
                    <button class="waves-effect waves-light btn rounded-4 text-uppercase sm-blue-button">
                        <a href="{% url 'categories' %}">
                            Cancel<i class="fas fa-chevron-left"></i></a></button>
                    <button type="submit" class="waves-effect waves-light btn rounded-4 text-uppercase sm-blue-button">
                        Update Category<i class="fas fa-check"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}