{% extends "base.html" %} {% load static %}
{% block page_header %}

{% endblock %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="row" id="post-detail">
            <div class="col s12 m5">
                <div class="card-image post-detail" id="home-img">
                </div>
            </div>
            <div class="col s12 m7">
                <div class="card-content card-padding border-btm">
                    <h4 class="grey-text text-darken-3">About Us</h4>
                </div>
                <div class="card-content card-padding">
                    <h6 class="grey-text text-darken-3">What better way is there than touring in a tuktuk with a local driver and guide who
                        can tell you everything you want to know? Join us for one of our fascinating tours in Yogyakarta and beyond.
                        We have a whole variety of tours from visting markets, historic temples to traditional villages as well as 
                        tours where you can learn about and experience celebrated forms of art, such as shadow puppetry and dance, 
                        as well as the latest in street art. <br/><br/>
                        Our guides are here to give you an unforgettable experience. They are all local, speak excellent English and 
                        know the best places for the most delicious street food!<br/>
                    </h6>
                        <button class="sm-blue-button md-blue-button waves-effect waves-light btn-large uppercase">
                            <a href="{% url 'tours' %}">
                                See all tours<i class="fas fa-angle-double-right map-icon"></i>
                            </a>
                        </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 valign-wrapper subheading">
        <h4>Most Popular Tours</h4>
    </div>
</div>
<div class="row">
    {% for tour in tours %}
    {% if tour.id < 6 %}
    <div class="col s12 m4 l3">
        <div class="card">
            <div class="card-image">
                {% if tour.image %}
                <a href="{% url 'indv_tour' tour.id %}">
                    <img src="{{ tour.image.url }}" alt="{{ tour.name }}" />
                </a>
                {% else %}
                <a href="{% url 'indv_tour' tour.id %}">
                    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ tour.name }}" />
                </a>
                {% endif %}
            </div>
            <div class="black center-align">
                <h5>{{ tour.category.friendly_name }}</h5>
            </div>
            <div class="card-content tour-card-desc">
                <p class="tour-description">{{ tour.description|slice:":200" }}</p>
            </div>
            <div class="card-content tour-card-name tuktuk-blue white-text uppercase">
                <a href="{% url 'indv_tour' tour.id %}">
                    <span id="tour-card-name">{{ tour.name }}</span>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}