{% extends "base.html" %} {% load static %}
{% block page_header %}

{% endblock %}
{% block content %}
<div class="row">
    <div class="col s12 valign-wrapper subheading yogya">
        <h4>Why visit Yogyakarta by Tuk Tuk?</h4>
    </div>
</div>
<div class="container">
    <div class="row shadowed white home-page">
        <div class="col s12">
            <div class="card">
                <div class="col s12 m5">
                    <div class="card-image post-detail">
                        <img src="{{ MEDIA_URL }}home-tuktuks.jpg" alt="Tuk Tuk Tours" />
                    </div>
                </div>
                <div class="col s12 m7">
                    <div class="card-content card-padding">
                        <h6 class="grey-text text-darken-3">What better way is there than touring in a tuktuk with a
                            local
                            driver and guide who
                            can tell you everything you want to know? <br /><br />
                            Yogyakarta is famous as the center of Javanese celebrated classical arts and culture,
                            such
                            as
                            batik, silversmithing, and traditional dance. Still ruled by a
                            monarchy you can
                            visit the king's palace within the city center. Not only that, but it's located in the
                            middle
                            of the must-see
                            temple complexes of Borobudur and Prambanan. <br /><br />

                            With so much to see and do going with a guided tuktuk tour
                            will give you an extra insight
                            into Javanese life and culture.<br />
                        </h6>
                        <a href="{% url 'tours' %}"
                            class="float-right md-blue-button sm-blue-button waves-effect waves-light btn-large uppercase">
                            See all tours<i class="fas fa-angle-double-right map-icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 valign-wrapper subheading">
        <h4>About Us</h4>
    </div>
</div>
<div class="container">
    <div class="row shadowed white home-page">
        <div class="col s12">
            <div class="card">
                <div class="col s12 m5">
                    <div class="card-image post-detail">
                        <img src="{{ MEDIA_URL }}street-food-curry.jpg" alt="Yogyakarta" />
                    </div>
                </div>
                <div class="col s12 m7">
                    <div class="card-content card-padding">
                        <h6 class="grey-text text-darken-3">
                            We have a whole variety of tours from visting markets, historic temples to traditional
                            villages
                            as well as
                            tours where you can learn about and experience traditional forms of art alongside the latest
                            in
                            street art.
                            We have been running our tours for several years and have
                            a wealth of knowledge about the history and culture of the area. <br /><br />
                            Our guides are here to give you an unforgettable experience. They are all local, speak
                            excellent
                            English and will help you with any souvenir shopping, or choosing the best things to try in
                            the
                            markets and street food stalls!<br />
                        </h6>
                        <a href="{% url 'tours' %}"
                            class="float-right md-blue-button sm-blue-button waves-effect waves-light btn-large uppercase">
                            See all tours<i class="fas fa-angle-double-right map-icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 valign-wrapper subheading">
        <h4>Most Popular Tours</h4>
    </div>
</div>
<div class="row">
    {% for tour in tours %}
    {% if tour.id < 5 %}
    <div class="col s12 m4 l3">
        <div class="card">
            <div class="card-image">
                {% if tour.image %}
                <a href="{% url 'indv_tour' tour.id %}">
                    <img src="{{ tour.image.url }}" alt="{{ tour.name }}" />
                </a>
                {% else %}
                <a href="{% url 'indv_tour' tour.id %}">
                    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ tour.name }}" />
                </a>
                {% endif %}
            </div>
            <div class="black center-align">
                <h5>{{ tour.category.friendly_name }}</h5>
            </div>
            <div class="card-content tour-card-desc">
                <p class="tour-description">{{ tour.description|slice:":200" }}</p>
            </div>
            <div class="card-content tour-card-name tuktuk-blue white-text uppercase">
                <a href="{% url 'indv_tour' tour.id %}">
                    <span id="tour-card-name">{{ tour.name }} <i class="fas fa-arrow-right"></i></span>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<div class="center-align">
    <a href="{% url 'tours' %}" class="md-blue-button sm-blue-button waves-effect waves-light btn-large uppercase">
        See all tours<i class="fas fa-angle-double-right map-icon"></i>
    </a>
</div>
{% endblock %}