{% extends "base.html" %} {% load static %} {% load materializecss %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}
{% block page_header %}
<div class="row">
    <div class="col s12 valign-wrapper subheading">
        <h4>My Profile</h4>
    </div>
</div>
<div class="row">
    <div class="container">
        <form action="{% url 'user_profile' %}" method="POST" id="profile-update-form">
            {% csrf_token %}
            <div class="card-panel add-tour">
                <h6 class="grey-text text-darken-3">My Information</h6>
                {{ form | materializecss }}
                <div class="submit-button center-align">
                    <a href="{% url 'user_profile' %}"
                        class="waves-effect waves-light btn rounded-4 text-uppercase sm-blue-button">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span>Cancel</span>
                    </a>
                    <button id="submit-button"
                        class="waves-effect waves-light btn rounded-4 text-uppercase sm-blue-button">
                        <span>Update Profile</span>
                        <span class="icon">
                            <i class="fas fa-check"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="card-panel add-tour">
            <h6 class="grey-text text-darken-3">My Order History</h6>
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>
                                <a id="order-history" href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                    {{ order.order_number|truncatechars:6 }}
                                </a>
                            </td>
                            <td>{{ order.date }}</td>
                            <td>
                                <ul class="list-unstyled">
                                    {% for item in order.lineitems.all %}
                                    <li class="small">
                                        {{ item.tour.name }} x{{ item.tour_count }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>${{ order.grand_total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}