{% extends "base.html" %} {% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}
{% block page_header %}
<div class="row">
    <div class="col s12 valign-wrapper subheading">
        <h4>Thank you!</h4>
    </div>
</div>
<div class="row">
    <div class="col s12 valign-wrapper discount-heading">
        <p>Your order information is below. A confirmation email will be sent to
            <strong>{{ order.email }}</strong>.</p>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="card-panel order-info">
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="col s12">
                        <h5 class="grey-text text-darken-3">Order Info:</h5>
                        <p>Order Number: {{ order.order_number }}</p>
                        <p>Order Date: {{ order.date }}</p>
                    </div>
                    <div class="col s12">
                        <h5 class="grey-text text-darken-3">Order Details:</h5>
                        {% for item in order.lineitems.all %}
                        <p>{{ item.tour.name }} for {{ item.tour_count }}
                            {% if item.tour_count == 1 %}person{% else %}people{% endif %} at ${{ item.tour.price }} per
                            person on {{ item.tour_date }}
                        </p>
                        {% endfor %}
                    </div>
                    <div class="col s12">
                        <h5 class="grey-text text-darken-3">Billing Info:</h5>
                        <p>Order Total: ${{ order.order_total }}</p>
                        <p>Discount: ${{ order.discount }}</p>
                        <p>Grand Total: {{ order.grand_total }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row center-align">
        <div class="col s12">
            {% if from_profile %}
            <a href="{% url 'user_profile' %}"
                class="waves-effect waves-light btn rounded-4 text-uppercase sm-blue-button">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Back to My Profile</span>
            </a>
            {% else %}
            <a href="{% url 'tours' %}" class="waves-effect waves-light btn rounded-4 text-uppercase sm-blue-button">
                <span class="text-uppercase">Book Another Tour!</span>
                <span class="icon">
                    <i class="fas fa-chevron-right"></i>
                </span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}