{% extends "base.html" %} {% load static %}
{% block page_header %}
<div class="row">
    <div class="col s12 valign-wrapper subheading">
        <h4>Shopping Basket</h4>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        {% if basket_not_empty %}
        {{ basket_not_empty }}
        <table class="striped">
            <thead>
                <tr>
                    <th>Tour</th>
                    <th>No. of People</th>
                    <th>Price Per Person</th>
                    <th>Price Per Tour</th>
                </tr>
            </thead>

            <tbody>
                {% for tour in basket_not_empty %}
                <tr>
                    {% if tour.tour.image %}
                    <td><img src="{{ tour.tour.image.url }}" alt="{{ tour.tour.name }}"
                            class="circle responsive-img basket-img"></td>
                    {% else %}
                    <td><img src="/media/noimage.png" alt="{{ tour.tour.name }}" class="circle responsive-img"></td>
                    {% endif %}
                    <td>{{ tour.tour.name }}</td>
                    <td>{{ tour.quantity }}</td>
                    <td>{{ tour.tour.price }}</td>
                    <td>{{ tour.total }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'tours' %}" class="btn">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="text-uppercase">Add More Tours to your Basket!</span>
        </a>
        <a href="~" class="btn">
            <span class="icon">
                <i class="fas fa-lock"></i>
            </span>
            <span class="text-uppercase">Secure Checkout</span>
        </a>
        {% else %}
        <p class="lead mb-5">Your shopping basket is empty.</p>
        <a href="{% url 'tours' %}" class="btt-link">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="text-uppercase">Back to All Tours</span>
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}