<form class="form update-form" method="POST" action="{% url 'edit_basket' tour.tour_id %}">
    {% csrf_token %}
    <div class="col s2">
        <button class="decrement-qty btn qty-blue-button" data-tour_id="{{ tour.tour.id }}"
            id="decrement-qty_{{ tour.tour.id }}">
            <span class="icon">
                <i class="fas fa-minus"></i>
            </span>
        </button>
    </div>
    <div class="col s4">
        <input class="qty_input" type="number" name="quantity" value="1" min="1" max="12"
            data-tour_id="{{ tour.tour.id }}" id="id_qty_{{ tour.tour.id }}">
    </div>
    <div class="col s2">
        <button class="increment-qty btn qty-blue-button" data-tour_id="{{ tour.tour.id }}"
            id="increment-qty_{{ tour.tour.id }}">
            <span class="icon">
                <i class="fas fa-plus"></i>
            </span>
        </button>
    </div>
</form>
<a class="update-link text-info"><small>Update</small></a>
<a class="remove-item text-danger float-right" id="remove_{{ tour.tour_id }}"><small>Remove</small></a>