html {
    height: 100%;
}

body {
    background: url('/media/wooden-board-light.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #424242;
    font-family: 'Caveat', cursive;
}
.bold {
    font-weight: 600;
}
h1, h2, h3, h4, h5, h6, p {
    color: white;
}
.tuktuk-blue {
    background: #032ea1;
}
.tuktuk-blue-text {
    color: #032ea1;
}
.black-fill {
    background: #000;
}
.uppercase {
    text-transform: uppercase;
}
.flashes {
    min-height: 4rem;
}
.flashes h4 {
    padding: 1rem;
}
/* navbar - header */
.spacer {
    height: 1rem;
}
nav.nav-extended {
    height: 4.8rem;
}
#search-header {
    margin-right: 4rem;
    width: 20rem;
}
.header-search-btn{
    margin-left: -1.8rem;
}
.header-search-btn i {
    margin-top: -1.8rem;
    margin-left: 0.5rem;
}
#home-logo img {
    max-height: 5rem;
}
i {
    color: white;
}
i:hover,
i:active,
i:focus {
    color: #032ea1;
}
.fa-search {
    margin-top: 0rem;
    font-size: 1rem;
}
.hp-total {
    margin-left: 1rem;
}
.sublist {
    margin-left: 2rem;
}
.discount-heading {
    background: #032ea1;
}
.discount-heading h4, p {
    margin: 0 auto;
    font-size: 1.5rem;
}
.subheading {
    background: #000;
    height: 3rem;
}
.subheading h4 {
    margin: 0 auto;
}
.sm-blue-button {
    background: #032ea1;
    min-width: 10rem;
    min-height: 1rem;
    margin: 0.5rem;
}
.sm-blue-button a, i, span {
    color: white;
    font-size: 1rem;
}
.sm-blue-button i {
    margin-left: 0.8rem;
}
.float-right {
    float: right;
}
.sm-blue-button:hover,
.sm-blue-button:active,
.sm-blue-button:focus,
.btn:hover,
.btn:active,
.btn:focus {
    background: white;
    color: #032ea1;
}
.sm-blue-button a:hover,
.sm-blue-button a:active,
.sm-blue-button a:focus {
    color: #032ea1;
}
/* modified materialize css for forms */
input[type=text]:not(.browser-default):focus:not([readonly]) { background-color: white; border-bottom: 0;}
input[type=text]:not(.browser-default) { background-color: white; height: 2.4rem; margin-top: 1.05rem; padding-left: 0.5rem;}
input[type=text]:not(.browser-default).validate+label {top: 0.6rem; left: 1rem; color: #032ea1;}
input[type=text]:not(.browser-default).validate.header-search+label {top: -0.65rem; left: 1rem;}
.input-field.col label { color: #032ea1; left: 1.25rem; top: -0.5rem;}
.dropdown-content li a {color: #424242; margin: 0rem 1rem;}
.dropdown-content li span {color: #424242;}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) { cursor: pointer;}
.input-field.col.post-search label{ top: 0.5rem; z-index: 999;}
.select-wrapper .caret {color: #032ea1; z-index: 2;}
.select-wrapper+label {font-size: 1rem;}
.select-dropdown.dropdown-content li.selected{
    color: #032ea1;
}
[type="checkbox"].filled-in:checked+span:not(.lever):before{
    border-right:2px solid white;
    border-bottom:2px solid white;
}
[type="checkbox"].filled-in:checked+span:not(.lever):after{
    border:2px solid #032ea1;
    background-color:#032ea1;
}
[type="checkbox"].filled-in.tabbed:checked:focus+span:not(.lever):after{
    background-color:#032ea1;
    border-color:#032ea1;
}
.add-tour .select-wrapper+label {top: -1rem;}
button, input, optgroup, select, textarea {
    font-family: 'Caveat', cursive;
    color: #032ea1;
    text-align: left;
}
.datepicker-date-display { background: #032ea1; }
.month-prev:hover { background: #032ea1; }
.month-next:hover { background: #032ea1; }
.is-today { color: #032ea1 !important; font-weight: 600 !important;}
.is-selected { background: #032ea1 !important; }
.datepicker-done { color: #032ea1 !important; font-weight: 600;}
.datepicker-cancel { color: #424242 !important;}
.datepicker-clear { color: #424242   !important;}

input:not([type]):focus:not([readonly]), 
input[type=text]:not(.browser-default):focus:not([readonly]), 
input[type=password]:not(.browser-default):focus:not([readonly]), 
input[type=email]:not(.browser-default):focus:not([readonly]), 
input[type=url]:not(.browser-default):focus:not([readonly]), 
input[type=time]:not(.browser-default):focus:not([readonly]), 
input[type=date]:not(.browser-default):focus:not([readonly]), 
input[type=datetime]:not(.browser-default):focus:not([readonly]), 
input[type=datetime-local]:not(.browser-default):focus:not([readonly]), 
input[type=tel]:not(.browser-default):focus:not([readonly]), 
input[type=number]:not(.browser-default):focus:not([readonly]), 
input[type=search]:not(.browser-default):focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
    box-shadow: 0 2px 0 0 #032ea1;
    border-bottom: 0;
}
input:not([type]):focus:not([readonly])+label, 
input[type=text]:not(.browser-default):focus:not([readonly])+label, 
input[type=password]:not(.browser-default):focus:not([readonly])+label, 
input[type=email]:not(.browser-default):focus:not([readonly])+label, 
input[type=url]:not(.browser-default):focus:not([readonly])+label, 
input[type=time]:not(.browser-default):focus:not([readonly])+label, 
input[type=date]:not(.browser-default):focus:not([readonly])+label, 
input[type=datetime]:not(.browser-default):focus:not([readonly])+label, 
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, 
input[type=tel]:not(.browser-default):focus:not([readonly])+label, 
input[type=number]:not(.browser-default):focus:not([readonly])+label, 
input[type=search]:not(.browser-default):focus:not([readonly])+label, 
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #032ea1;
}
fieldset {
    border: 0;
}
#payment-form label {
    font-size: 0;
}
/* home page */
#home-img {
    background: url('/media/home-tuktuks.jpg');
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    min-height: 30rem;
}
.about-us {
    color: white;
    margin-top: 3rem;
}
#about-us-info {
    background-color: #000;
    padding: 3rem;
    margin-left: 4rem;
}
.map-icon {
    height: 3rem;
    width: 3rem;
    margin-left: 2rem; 
}
/*
.main-logo-link {
    width: fit-content;
}
*/
.see-tours-button {
    background: #032ea1;
    color: white;
    min-width: 20rem;
    min-height: 5rem;
    margin: 2rem;
    padding-top: 0.5rem;
}
.see-tours-button:hover,
.see-tours-button:active,
.see-tours-button:focus,
.btn:hover,
.btn:active,
.btn:focus {
    background: white;
    color: #032ea1;
}
/* blog pages */
.search-btn {
    margin-top: 2rem;
    margin-left: -1.5rem;
    z-index: 9999;
}
#post-search {
    margin-bottom: 0;
}
#post-detail {
    padding: 1rem;
    margin-bottom: 0rem;
}
.post-detail {
    padding-top: 1rem;
}
/* card displays */
.count {
    margin-left: 1rem;
}
.card, .shadowed {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.35), 0 3px 1px -2px rgba(0,0,0,0.35), 0 1px 5px 0 rgba(0,0,0,0.4);
}
.wt-shadow {
    box-shadow: 1px 1px 2px -1px #fff
}
.card h5 {
    margin: 0;
    padding: 0.5rem;
}
.card .card-content.tour-card-desc {
    height: 12.5rem;
    padding-top: 0.75rem;
}
.card-content.order-info p {
    color: #424242;
    font-size: 1.2rem;
}
.card-content h4 {
    margin: 0 auto;
}
.card .card-padding {
    padding: 0.7rem 1.1rem;
}
.card-content.tour-card-name {
    text-align: center;
    height: 7rem;
}
#tour-card-name {
    color: white;
    font-size: 1.5rem;
}
.card-panel a, span {
    color: white;
    font-size: 1rem;
}
.add-tour p, a {
    color: #032ea1;
    font-size: 1rem;
}
.all-auth-mod h2 {
    color: #424242;
}
.all-auth-mod a {
    color: #032ea1;
    font-size: 1.5rem;
}
.all-auth-mod p {
    color: #424242;
    font-size: 1.5rem;
}
.all-auth-mod label {
    font-size: 0;
    color: #424242;
}
#order-history {
    color: #032ea1;
}
.border-btm {
    border-bottom: 1px solid rgba(66,66,66,0.8);
}
.card-action {
    float: right;
}
.card .card-title {
    font-size: 1.3rem;
}
.card .card-content.comment-card {
    padding: 1rem;
}
.tour-card-desc p {
    color: #424242;
    font-size: 1.2rem;
}
.indv-tour-card p {
    color: #424242;
    font-size: 1.2rem;
}
.add-to-basket p {
    color: #424242;
    font-size: 1rem;
}
.card-style {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.35), 0 3px 1px -2px rgba(0,0,0,0.35), 0 1px 5px 0 rgba(0,0,0,0.4)
}
.post-card {
    margin-left: -1.5rem;
    margin-top: -0.5rem;
}
.blog-post p {
    color: #424242;
    font-size: 1.2rem;
}
.tour-image {
    margin: 0;
    padding: 0;
}
.review-image {
    padding: 1rem;
}
.edit-image img {
    max-height: 7rem;
}
/* shopping basket */
.qty-blue-button {
    background: #032ea1;
}
.qty-blue-button a, i {
    color: white;
}
.waves-effect input[type="submit"] {
    color: white;
    font-size: 1.5rem;
}
img.responsive-img {
    width: 4rem;
    height: 4rem;
}
.file-field .btn {
    background: #032ea1;
    min-width: 5rem;
    min-height: 1rem;
    margin: 0.5rem;
}
.remove-item {
    cursor: pointer;
}
.save-details span {
    color: #424242;
}
.order-info p {
    color: #424242;
    font-size: 1.2rem;
}
/* footer */
.fixed {
    min-height: 12rem;
}
.page-footer a {
    color: white;
}
.page-footer {
    background-color: #000;
    margin-top: 3rem;
}
.right-border {
    border-right: 2px solid white;
}
#mini-map {
    max-height: 8rem;
}
.footer .fa {
    margin-left: 2rem;
    margin-right: 0.4rem;
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 2rem;;
}
.footer .fa:active,
.footer .fa:focus,
.footer .fa:hover {
    color: #032ea1;
}
.info-text-top {
    margin-top: 20px;
    font-size: 22px;
}
.info-text {
    margin-top: -10px;
    font-size: 22px;
}
.list-inline {
    margin-top: 50px;
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
ul.social > li > a > i {
    margin: 15px;
    font-size: 52px;
    color: #fff;
}
ul.social > li > a > i:hover,
ul.social > li > a > i:active,
ul.social > li > a > i:focus {
    color: #032ea1;
}
.btt {
    background: #032ea1;
    height: 3rem;
    width: 3rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}
.btt i {
    margin-left: -0.2rem;
    margin-top: 0.2rem;
}
.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}
input[name='q']::placeholder {
    color: #424242;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}
@media (max-width: 500px) {
.post-card {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    margin-top: -0.5rem;
    }
}