{% extends "base.html" %} {% load static %}
{% block page_header %}
<div class="row">
    <div class="col s12 valign-wrapper subheading">
        <h4>Categories</h4>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col center-align">
        {% for category in categories %}
        <button>
            <a href="{% url 'indv_category' category.id %}">
                <span
                    class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">{{ category.friendly_name }}</span>
            </a>
        </button>
        {% if request.user.is_superuser %}
        <a href="{% url 'edit_category' category.id %}"
            class="waves-effect waves-light btn-sm rounded-4 text-uppercase">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="text-uppercase">Edit Category</span>
        </a>
        <a href="#" class="waves-effect waves-light btn-sm rounded-4 text-uppercase">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="text-uppercase">Delete Category</span>
        </a>
        {% endif %}
        {% endfor %}
    </div>
</div>
<div class="btn">
    <a class="back-to-top d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
</div>

{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.back-to-top').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
{% endblock %}