{% extends "base.html" %} {% load static %}
{% block page_header %}
<div class="row">
    <div class="col s12 valign-wrapper subheading">
        <h4>Categories</h4>
    </div>
</div>
{% endblock %}
{% block content %}
{% if request.user.is_superuser %}
<div class="container center-align">
    <a href="{% url 'add_category' %}" class="waves-effect waves-light btn rounded-4 text-uppercase sm-blue-button">
        Add New Category<i class="fas fa-plus"></i></a>
</div>
{% endif %}
<div class="row">
    {% for category in categories %}
    <div class="col s12 m3">
        <div class="card white center-align">
            <div class="card-content black card-padding">
                <h4>{{ category.friendly_name }}</h4>
            </div>
            <div class="shadowed card-action">
                <a href="{% url 'edit_category' category.id %}"
                    class="waves-effect waves-light btn rounded-4 text-uppercase sm-blue-button wt-shadow">Edit Category<i
                        class="fas fa-pencil-alt"></i></a>
                <a href="{% url 'delete_category' category.id %}"
                    class="waves-effect waves-light btn rounded-4 text-uppercase sm-blue-button wt-shadow">Delete
                    Category<i class="fas fa-pencil-alt"></i></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="btt-link">
    <a class="waves-effect waves-light btn rounded-4 text-uppercase btt">
        <i class="fas fa-arrow-up"></i>
    </a>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script>
    $('.back-to-top').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
{% endblock %}