{% extends "base.html" %} {% load static %} {% load materializecss %}
{% block page_header %}
<div class="row">
    <div class="col s12 valign-wrapper subheading">
        <h4>{{ tour.name }}</h4>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="row border-btm" id="post-detail">
            <div class="col s12 m4 tour-image">
                <div class="card-image tour-image">
                    {% if tour.image %}
                    <a href="{% url 'indv_tour' tour.id %}">
                        <img src="{{ tour.image.url }}" alt="{{ tour.name }}" />
                    </a>
                    {% else %}
                    <a href="{% url 'indv_tour' tour.id %}">
                        <img src="{{ MEDIA_URL }}noimage.png" alt="{{ tour.name }}" />
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="col s12 m8">
                <div class="card-content card-padding border-btm">
                    <h4 class=" tuktuk-blue-text bold">{{ tour.name }}</h4>
                </div>
                <div class="card-content card-padding border-btm">
                    <h6 class="grey-text text-darken-3">${{ tour.price  }} per person</h6>
                </div>
                <div class="card-content card-padding border-btm">
                    <h6 class="grey-text text-darken-3">{{ tour.duration }} hours, starting at {{ tour.start_time }}
                    </h6>
                </div>
            </div>
        </div>
        <div class="card-content border-btm">
            <div class="col s12">
                <h6 class="grey-text text-darken-3 bold">Tour description: </h6>
                <p>{{ tour.description }}</p>
                <h6 class="grey-text text-darken-3 bold">What's included: </h6>
                <p>{{ tour.includes }}</p>
                <h6 class="grey-text text-darken-3 bold">Tour Duration: </h6>
                <p>{{ tour.duration }} hours, starting at {{ tour.start_time }}</p>
                <h6 class="grey-text text-darken-3 bold">{{ reviews.count }}
                    review{% if reviews.count > 1 or reviews.count == 0 %}s{% endif%}</h6>
            </div>
        </div>
        <div class="card-content border-btm">
            <h6 class="grey-text text-darken-3 bold">Add this tour to your shopping basket</h6>
            <div class="row">
                <form action="{% url 'add_to_basket' tour.id %}" method="POST">
                    {% csrf_token %}
                    <!-- tour quantity -->
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <p>Quantity:</p><br />
                            <div class="col s2">
                                <button class="decrement-qty btn qty-blue-button" data-tour_id="{{ tour.tour.id }}"
                                    id="decrement-qty_{{ tour.tour.id }}">
                                    <span class="icon">
                                        <i class="fas fa-minus"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="col s4">
                                <input class="qty_input" type="number" name="quantity" value="1" min="1" max="12"
                                    data-tour_id="{{ tour.tour.id }}" id="id_qty_{{ tour.tour.id }}">
                            </div>
                            <div class="col s2">
                                <button class="increment-qty btn qty-blue-button" data-tour_id="{{ tour.tour.id }}"
                                    id="increment-qty_{{ tour.tour.id }}">
                                    <span class="icon">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- tour date -->
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <p>Date:</p>
                            <input id="tour_date" name="tour_date" type="text" class="datepicker validate" required>
                            <label for="tour_date"></label>
                        </div>
                    </div>
                    <div class="row center-align">
                        <input type="submit" class="sm-blue-button waves-effect waves-light btn-large uppercase"
                            value="Add to Basket"><i class="fas fa-plus"></i>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
        <div class="card-content border-btm">
            <h6 class="grey-text text-darken-3 bold">{{ reviews.count }}
                review{% if reviews.count > 1 or reviews.count == 0 %}s{% endif%}</h6>
            {% for review in reviews %}
            <div class="row shadowed">
                <div class="col s12">
                    <div class="col s12 m2 center-align">
                        <div class="card-image review-image">
                            {% if review.review_emoji.rating_name == "Amazing!" %}
                            <a href="#">
                                <img src="{{ MEDIA_URL }}grin-stars-solid.svg"
                                    alt="{{ review.review_emoji.rating_name }}" />
                            </a>
                            <p>Amazing!</p>
                            {% elif review.review_emoji.rating_name == "Great!" %}
                            <a href="#">
                                <img src="{{ MEDIA_URL }}grin-solid.svg" alt="{{ review.review_emoji.rating_name }}" />
                            </a>
                            <p>Great!</p>
                            {% elif review.review_emoji.rating_name == "Good" %}
                            <a href="#">
                                <img src="{{ MEDIA_URL }}smile-solid.svg" alt="{{ review.review_emoji.rating_name }}" />
                            </a>
                            <p>Good</p>
                            {% elif review.review_emoji.rating_name == "OK" %}
                            <a href="#">
                                <img src="{{ MEDIA_URL }}meh-solid.svg" alt="{{ review.review_emoji.rating_name }}" />
                            </a>
                            <p>OK</p>
                            {% elif review.review_emoji.rating_name == "Disappointing" %}
                            <a href="#">
                                <img src="{{ MEDIA_URL }}frown-solid.svg" alt="{{ review.review_emoji.rating_name }}" />
                            </a>
                            <p>Disappointing</p>
                            {% else %}
                            <a href="#">
                                <img src="{{ MEDIA_URL }}noimage.png" alt="{{ review.review_emoji.rating_name }}" />
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col s12 m10">
                        <div class="card-content comment-card">
                            <h6 class="grey-text text-darken-3 bold">{{ review.title }}</h6>
                            <span class="card-title tuktuk-blue-text">{{ review.author }},
                                {{ review.writtenon }}</span>
                            <p>{{ review.review_content }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% if request.user.is_authenticated %}
            <div class="center-align">
                <a href="{% url 'make_review' tour.id %}"
                    class="sm-blue-button waves-effect waves-light btn rounded-4 uppercase">
                    Leave a review <i class="fas fa-star"></i>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% if request.user.is_superuser %}
<div class="container center-align">
    <div class="row">
        <div class="col s12">
            <a href="{% url 'edit_tour' tour.id %}"
                class="waves-effect waves-light btn rounded-4 text-uppercase sm-blue-button">Edit Tour<i
                    class="fas fa-edit"></i></a>
            <a href="{% url 'delete_tour' tour.id %}"
                class="waves-effect waves-light btn rounded-4 text-uppercase sm-blue-button">Delete Tour<i
                    class="fas fa-trash"></i></a>
        </div>
    </div>
</div>
{% endif %}
<div class="container center-align">
    <div class="row">
        <div class="col s12">
            <a href="{% url 'tours' %}" class="waves-effect waves-light btn rounded-4 text-uppercase sm-blue-button">
                <i class="fas fa-chevron-left"></i> Back to All Tours</a>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'tours/includes/change_quantity.html' %}
{% endblock %}