{% extends "base.html" %} {% load static %} {% load materializecss %}
{% block page_header %}

{% endblock %}
{% block content %}
<div class="row">
    <div class="col s12 m4 l3">
        <div class="card">
            <div class="card-image">
                {% if tour.image %}
                <a href="{% url 'indv_tour' tour.id %}"></a>
                <img src="{{ tour.image.url }}" alt="{{ tour.name }}" />
                {% else %}
                <img src="{{ MEDIA_URL }}noimage.png" alt="{{ tour.name }}" />
                {% endif %}
            </div>
            <div class="tour-name">{{ tour.category.friendly_name }}</div>
            <div class="card-content valign-wrapper center-align">
                <p class="tour-description">{{ tour.description }}</p>
            </div>
            <div class="card-content card-link-div center-align valign-wrapper">
                <span class="card-title activator">{{ tour.name }}
                    <i class="fas fa-plus prefix white-text tooltipped" data-position="right"
                        data-tooltip="Get Details">
                    </i>
                </span>
            </div>
            <div class="card-reveal">
                <span class="card-title card-link-div center-align">{{ tour.name }}
                    <i class="fas fa-times prefix white-text tooltipped right" id="event-deets-close"
                        data-position="right" data-tooltip="Close Details">
                    </i>
                </span>
                <p>
                    <i class="fas fa-list-ul prefix cyan-text text-accent-3 tooltipped sgl-event" data-position="right"
                        data-tooltip="Event Category">
                    </i>{{ tour.category.friendly_name }}<br />
                    <i class="fas fa-edit prefix cyan-text text-accent-3 tooltipped sgl-event" data-position="right"
                        data-tooltip="Event Description">
                    </i>{{ tour.description }}<br />
                    <i class="fas fa-map prefix cyan-text text-accent-3 tooltipped sgl-event" data-position="right"
                        data-tooltip="Event Location">
                    </i>{{ tour.includes }}<br />
                    <i class="fas fa-map-marker-alt prefix cyan-text text-accent-3 tooltipped sgl-event"
                        data-position="right" data-tooltip="Meet Point">
                    </i>{{ tour.rating }}<br />
                    <i class="fas fa-user prefix cyan-text text-accent-3 tooltipped sgl-event" data-position="right"
                        data-tooltip="Created by user">
                    </i>{{ tour.price }}<br />
                </p>

            </div>
        </div>
    </div>
</div>
{% if user.is_authenticated %}
<div class="card-body">
    <a href="{% url 'add_review' tour.id %}"
        class="see-tours-button waves-effect waves-light btn-large rounded-4 text-uppercase">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Leave a review</span>
    </a>
</div>
{% endif %}
<div class="row">
    <h2>{{ reviews.count }} reviews</h2>
    {% for review in reviews %}
    <div class="col s12 m4 l3">
        <div class="card">
            <div class="card-image">
                {% if review.review_emoji.rating_name == "Amazing!" %}
                <a href="#">
                    <img src="{{ MEDIA_URL }}grin-stars-solid.svg" alt="{{ review.review_emoji.rating_name }}" />
                </a>
                {% elif review.review_emoji.rating_name == "Great!" %}
                <a href="#">
                    <img src="{{ MEDIA_URL }}grin-solid.svg" alt="{{ review.review_emoji.rating_name }}" />
                </a>
                {% elif review.review_emoji.rating_name == "Good" %}
                <a href="#">
                    <img src="{{ MEDIA_URL }}smile-solid.svg" alt="{{ review.review_emoji.rating_name }}" />
                </a>
                {% elif review.review_emoji.rating_name == "OK" %}
                <a href="#">
                    <img src="{{ MEDIA_URL }}meh-solid.svg" alt="{{ review.review_emoji.rating_name }}" />
                </a>
                {% elif review.review_emoji.rating_name == "Disappointing" %}
                <a href="#">
                    <img src="{{ MEDIA_URL }}frown-solid.svg" alt="{{ review.review_emoji.rating_name }}" />
                </a>
                {% else %}
                <a href="#">
                    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ review.review_emoji.rating_name }}" />
                </a>
                {% endif %}
            </div>
            <div class="tour-name">{{ review.author }}</div>
            <div class="card-content valign-wrapper center-align">
                <p class="tour-description">{{ review.review_content|slice:":200" }}</p>
            </div>
            <div class="card-content card-link-div center-align valign-wrapper">
                <span class="card-title activator">{{ review.writtenon  }}
                </span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<form action="{% url 'add_to_basket' tour.id %}" method="POST">
    {% csrf_token %}
    <div class="col-12">
        <p class="mt-3"><strong>Quantity:</strong></p>
        <div class="form-group w-50">
            <!-- tour quantity -->
            <div class="input-field">
                <button class="decrement-qty btn btn-black rounded-0" data-tour_id="{{ tour.tour.id }}"
                    id="decrement-qty_{{ tour.tour.id }}">
                    <span class="icon">
                        <i class="fas fa-minus"></i>
                    </span>
                </button>
                <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="10"
                    data-tour_id="{{ tour.tour.id }}" id="id_qty_{{ tour.tour.id }}">
                <button class="increment-qty btn btn-black rounded-0" data-tour_id="{{ tour.tour.id }}"
                    id="increment-qty_{{ tour.tour.id }}">
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                </button>
            </div>
            <!-- tour date -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix cyan-text text-accent-3"></i>
                    <input id="tour_date" name="tour_date" type="text" class="datepicker validate" required>
                    <label for="tour_date">Date:</label>
                </div>
            </div>
        </div>
    </div>
    <input type="submit" class="waves-effect waves-light btn-large rounded-4 text-uppercase" value="Add to Basket">
    <input type="hidden" name="redirect_url" value="{{ request.path }}">
</form>
<div class="col s12 m6">
    <a href="{% url 'tours' %}" class="see-tours-button waves-effect waves-light btn-large rounded-4 text-uppercase">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Back to All Tours</span>
    </a>
    {% if request.user.is_superuser %}
    <a href="{% url 'edit_tour' tour.id %}"
        class="see-tours-button waves-effect waves-light btn-large rounded-4 text-uppercase">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Edit Tour</span>
    </a>
    <a href="{% url 'delete_tour' tour.id %}"
        class="see-tours-button waves-effect waves-light btn-large rounded-4 text-uppercase">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Delete Tour</span>
    </a>
    {% endif %}
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'tours/includes/change_quantity.html' %}
{% endblock %}