{% extends "base.html" %} {% load static %} {% load materializecss %}
{% block page_header %}
<div class="row">
    <div class="col s12 valign-wrapper subheading">
        <h4>Leave a review for {{ tour.name }}</h4>
    </div>
</div>
{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
<div class="card-body">
    <form action="{% url 'add_review' tour.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <div class="card-panel add-tour">
                {{ review_form | materializecss }}
                <div class="submit-button center-align">
                    <a href="{% url 'indv_tour' tour.id %}"
                        class="waves-effect waves-light btn rounded-4 text-uppercase sm-blue-button">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span>Cancel</span>
                    </a>
                <button id="submit-button" class="waves-effect waves-light btn rounded-4 text-uppercase sm-blue-button">
                    <span>Publish Review</span>
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                </button>
            </div>
            </div>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}