{% extends "base.html" %} {% load static %} {% load materializecss %}
{% block page_header %}

{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="card-body">
    {% if new_review %}
    <div class="alert alert-success" role="alert">
        Thanks for reviewing this tour!
    </div>
    {% else %}
    <h3>Leave a review</h3>
    <form method="POST">
        {% csrf_token %}
        {% for field in review_form %}
        {{ field | materializecss }}
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-lg">Publish Review</button>
    </form>
</div>
{% endif %}
{% endif %}
<div class="col s12 m6">
    <a href="{% url 'tours' %}" class="see-tours-button waves-effect waves-light btn-large rounded-4 text-uppercase">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Back to All Tours</span>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}