{% extends "base.html" %} {% load static %}
{% block page_header %}
<div class="row">
    <div class="col s12 valign-wrapper subheading">
        <h4>Tours</h4>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col s12 center-align">
        {% for c in categories %}
        <button class="waves-effect waves-light btn rounded-4 text-uppercase sm-blue-button">
            <a href="{% url 'tours' %}?category={{ c.name }}">
                <span>{{ c.friendly_name }}</span>
            </a>
        </button>
        {% endfor %}
    </div>
</div>
<div class="row">
<div class="input-field col s12 m6 l4">
    <select id="sort-selector">
        <option value="" disabled selected>Sort Tours</option>
        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by ...</option>
        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)
        </option>
        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)
        </option>
        <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)
        </option>
        <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)
        </option>
    </select>
    <label></label>
</div>
</div>
<div class="col s12 search-result count">
    <p>
        {% if search_text or current_categories or current_sorting != 'None_None' %}
        <span><a href="{% url 'tours' %}">All Tours</a> | </span>
        {% endif %}
        {{ tours|length }} {% if tours|length == 1 %}Tour{% else%}Tours{% endif %}{% if search_text %} found for
        <strong>"{{ search_text }}"</strong>{% endif %}
    </p>
</div>
<div class="row">
    {% for tour in tours %}
    <div class="col s12 m4 l3">
        <div class="card">
            <div class="card-image">
                {% if tour.image %}
                <a href="{% url 'indv_tour' tour.id %}">
                    <img src="{{ tour.image.url }}" alt="{{ tour.name }}" />
                </a>
                {% else %}
                <a href="{% url 'indv_tour' tour.id %}">
                    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ tour.name }}" />
                </a>
                {% endif %}
            </div>
            <div class="black center-align">
                <h5>{{ tour.category.friendly_name }}</h5>
            </div>
            <div class="card-content tour-card-desc">
                <p class="tour-description">{{ tour.description|slice:":200" }}</p>
            </div>
            <div class="card-content tour-card-name tuktuk-blue white-text uppercase">
                <a href="{% url 'indv_tour' tour.id %}">
                    <span id="tour-card-name">{{ tour.name }}  <i class="fas fa-arrow-right"></i></span>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="btt-link">
    <a class="waves-effect waves-light btn rounded-4 text-uppercase btt">
        <i class="fas fa-arrow-up"></i>
    </a>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentURL = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentURL.searchParams.set("sort", sort);
            currentURL.searchParams.set("direction", direction);

            window.location.replace(currentURL);
        } else {
            currentURL.searchParams.delete("sort");
            currentURL.searchParams.delete("direction");

            window.location.replace(currentURL);
        }
    })
</script>
{% endblock %}