<li>
    <a href="{% url 'home' %}">Home</a>
</li>
<li>
    <a href="{% url 'tours' %}">All Tours</a>
    <ul class="sublist">
        <li><a href="{% url 'tours' %}">All Tours</a></li>
        <li><a href="{% url 'tours' %}?category=temple">Temple Tours</a></li>
        <li><a href="{% url 'tours' %}?category=market,street_food,spice">Market & Food Tours</a></li>
        <li><a href="{% url 'tours' %}?category=villages,street_art,cultural">Cultural Tours</a></li>
        <li><a href="{% url 'tours' %}?category=sunrise,tea_plant,lake_hill">Sunrise & Scenic Tours</a></li>
    </ul>
</li>
{% if request.user.is_authenticated %}
<li>
    <a href="#">My Account</a>
    <ul class="sublist">
        <li><a href="#!">My Profile</a></li>
        {% if request.user.is_superuser %}
        <li><a href="#!">Manage Tours</a></li>
        {% endif %}
    </ul>
</li>
<li>
    <a href="{% url 'account_logout' %}">Log Out</a>
</li>
{% else %}
<li>
    <a href="{% url 'account_login' %}">Log In</a>
</li>
<li>
    <a href="{% url 'account_signup' %}">Sign Up</a>
</li>
{% endif %}
<li>
    <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %}" href="{% url 'basket' %}">
        <i class="fas fa-shopping-basket fa-lg"></i>
        <span class="hp-total">
            {% if grand_total %}
            ${{ grand_total|floatformat:2 }}
            {% else %}
            $0.00
            {% endif %}
        </span>
    </a>
</li>