{% extends "base.html" %} {% load static %} {% load materializecss %}
{% block extra_css %}
{% endblock %}
{% block page_header %}
<div class="row">
    <div class="col s12 valign-wrapper subheading">
        <h4>Add New Blog Post</h4>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <form action="{% url 'add_post' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <div class="card-panel add-tour">
                {% for field in form %}
                {% if field.name != 'image' %}
                {{ field | materializecss }}
                {% else %}
                <span>
                    <input id="new_image" value="Select Image" type="file" name="image" accept="image/*">
                </span>
                <p class="grey-text text-darken-3 bold" id="filename"></p><br />
                {% endif %}
                {% endfor %}
                <div class="submit-button center-align">
                    <a href="{% url 'all_posts' %}"
                        class="waves-effect waves-light btn rounded-4 text-uppercase sm-blue-button">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span>Cancel</span>
                    </a>
                    <button id="submit-button"
                        class="waves-effect waves-light btn rounded-4 text-uppercase sm-blue-button">
                        <span>Publish Post</span>
                        <span class="icon">
                            <i class="fas fa-plus"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('#content').val('');
  M.textareaAutoResize($('#content'));
</script>
{% endblock %}