{% extends "base.html" %} {% load static %}{% load materializecss %}
{% block page_header %}
<div class="row">
    <div class="col s12 valign-wrapper subheading">
        <h4>Blog</h4>
    </div>
</div>
{% endblock %}
{% block content %}
{% if request.user.is_superuser %}
<div class="container center-align">
    <a href="{% url 'add_post' %}" class="waves-effect waves-light btn rounded-4 text-uppercase sm-blue-button">Write
        New Post<i class="fas fa-pencil-alt"></i></a>
</div>
{% endif %}
<div class="container">
    <div class="card">
        <div class="row border-btm" id="post-detail">
            <div class="col s12 m4">
                <div class="card-image post-detail">
                    {% if post.image %}
                    <a href="{% url 'post_detail' post.id %}">
                        <img src="{{ post.image.url }}" alt="{{ post.title }}" />
                    </a>
                    {% else %}
                    <a href="{% url 'post_detail' post.id %}">
                        <img src="{{ MEDIA_URL }}noimage.png" alt="{{ post.title }}" />
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="col s12 m8">
                <div class="card-content card-padding border-btm">
                    <h4 class="grey-text text-darken-3">{{ post.title  }}</h4>
                </div>
                <div class="card-content card-padding border-btm">
                    <h6 class="grey-text text-darken-3">{{ post.author  }}</h6>
                </div>
                <div class="card-content card-padding border-btm">
                    <h6 class="grey-text text-darken-3">{{ comments.count }}
                        comment{% if comments.count > 1 or comments.count == 0 %}s{% endif%}</h6>
                </div>
            </div>
        </div>
        <div class="card-content valign-wrapper">
            <p>{{ post.content }}</p>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="card">
        <div class="card-content grey-text text-darken-3">
            {% if new_comment %}
            <div class="alert alert-success" role="alert">
                Thanks for commenting!
            </div>
            {% else %}
            <h5 class="grey-text text-darken-3">Leave a Comment</h5>
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s12">
                        <input id="writer" name="writer" type="text" class="validate" minlength="3" maxlength="50"
                            required>
                        <label for="writer">Your Name:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="comment" name="comment" class="materialize-textarea validate" minlength="5"
                            maxlength="250" required></textarea>
                        <label for="comment">Your Comment:</label>
                    </div>
                </div>
                <div class="center-align">
                    <button type="submit"
                        class="waves-effect waves-light btn rounded-4 text-uppercase sm-blue-button">Publish
                        Comment</button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
    {% else %}
    <p>Please <a href="{% url 'login' %}">login</a> to leave a comment</p>
    {% endif %}
    <div class="row">
        {% for comment in comments %}
        <div class="col s12 m4">
            <div class="card">
                <div class="card-content comment-card">
                    <span class="card-title tuktuk-blue-text">{{ comment.writer }},
                        {{ comment.writtenon }}</span>
                    <p>{{ comment.comment}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% if request.user.is_superuser %}
<div class="container center-align">
    <div class="row">
        <div class="col s12">
            <a href="{% url 'edit_post' post.id %}"
                class="waves-effect waves-light btn rounded-4 text-uppercase sm-blue-button">Edit Post<i
                    class="fas fa-edit"></i></a>
            <a href="{% url 'delete_post' post.id %}"
                class="waves-effect waves-light btn rounded-4 text-uppercase sm-blue-button">Delete Post<i
                    class="fas fa-trash"></i></a>
        </div>
    </div>
</div>
{% endif %}
<div class="container center-align">
    <div class="row">
        <div class="col s12">
            <a href="{% url 'all_posts' %}"
                class="waves-effect waves-light btn rounded-4 text-uppercase sm-blue-button">
                <i class="fas fa-chevron-left"></i>  Back to All Posts</a>
        </div>
    </div>
</div>
{% endblock %}