{% extends "base.html" %} {% load static %}
{% block page_header %}
<div class="row">
    <div class="col s12 valign-wrapper subheading">
        <h4>Blog</h4>
    </div>
</div>
{% endblock %}
{% block content %}
{% if request.user.is_superuser %}
<div class="col-12 col-md-6 order-md-first">
    <p class="text-muted mt-3 text-center text-md-left">
        <span class="small"><a href="{% url 'all_posts' %}">Back to All Posts</a></span>
    </p>
</div>
<div class="row">
    <div class="col s12 m6">
        <h4>
            <a href="{% url 'edit_post' post.id %}"
                class="see-tours-button waves-effect waves-light btn-large rounded-4 text-uppercase">Edit This Blog
                Post<i class="fas fa-map-marked-alt map-icon"></i></a>
        </h4>
        <h4>
            <a href="{% url 'delete_post' post.id %}"
                class="see-tours-button waves-effect waves-light btn-large rounded-4 text-uppercase">Delete This Blog
                Post<i class="fas fa-map-marked-alt map-icon"></i></a>
        </h4>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col s12 m4 l3">
        <div class="card">
            <div class="card-image">
                {% if post.image %}
                <a href="{% url 'post_detail' post.id %}">
                    <img src="{{ post.image.url }}" alt="{{ post.title }}" />
                </a>
                {% else %}
                <a href="{% url 'post_detail' post.id %}">
                    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ post.title }}" />
                </a>
                {% endif %}
            </div>
            <div class="tour-name">{{ post.title }}</div>
            <div class="card-content valign-wrapper center-align">
                <p class="tour-description">{{ post.content|slice:":200" }}</p>
            </div>
            <div class="card-content card-link-div center-align valign-wrapper">
                <span class="card-title activator">{{ post.author  }}
                    <i class="fas fa-plus prefix white-text tooltipped" data-position="right"
                        data-tooltip="Get Details">
                    </i>
                    <a href="{% url 'post_detail' post.id  %}" class="btn btn-primary">Read More &rarr;</a>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="btn">
    <a class="back-to-top d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}