{% extends "base.html" %} {% load static %}
{% block page_header %}
<div class="row">
    <div class="col s12 valign-wrapper subheading">
        <h4>Blog</h4>
    </div>
</div>
{% endblock %}
{% block content %}
{% if request.user.is_superuser %}
<div class="container center-align">
    <a href="{% url 'add_post' %}" class="waves-effect waves-light btn-large rounded-4 text-uppercase sm-blue-button">Write
        New Post<i class="fas fa-pencil-alt"></i></a>
</div>
{% endif %}
<div class="container">
    <div class="row vertical-align" id="post-search">
        <form method="GET" action="{% url 'all_posts' %}" class="col s12 m6">
            <div class="input-field col s10 post-search">
                <input type="text" id="qp" name="qp" minlength="3" class="validate" />
                <label for="qp">Search Posts</label>
            </div>
            <div class="col s2 center-align">
                <button class="btn tuktuk-blue search-btn" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
        <div class="input-field col s11 m5 post-search">
            <select id="sort-selector">
                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by ...</option>
                <option value="createdon_desc" {% if current_sorting == 'createdon_desc' %}selected{% endif %}>Most
                    Recent First
                </option>
                <option value="createdon_asc" {% if current_sorting == 'createdon_asc' %}selected{% endif %}>Oldest
                    First
                </option>
                <option value="title_asc" {% if current_sorting == 'title_asc' %}selected{% endif %}>Title (A to Z)
                </option>
                <option value="title_desc" {% if current_sorting == 'title_desc' %}selected{% endif %}>Title (Z to A)
                </option>
            </select>
            <label></label>
        </div>
    </div>

    <div class="col count">
        <p>
            {% if search_text %}
            <span class="small"><a href="{% url 'all_posts' %}">Back to All Posts</a> | </span>
            {% endif %}
            {{ posts|length }} {% if posts|length == 1 %}post{% else%}posts{% endif %}{% if search_text %} found for
            <strong>"{{ search_text }}"</strong>{% endif %}
        </p>
    </div>
</div>
<div class="container">
    {% for post in posts %}
    <div class="row shadowed white">
        <div class="col s12">
            <div class="card">
                <div class="col s12 m5">
                    <div class="card-image post-card">
                        {% if post.image %}
                        <a href="{% url 'post_detail' post.id %}">
                            <img src="{{ post.image.url }}" alt="{{ post.title }}" />
                        </a>
                        {% else %}
                        <a href="{% url 'post_detail' post.id %}">
                            <img src="{{ MEDIA_URL }}noimage.png" alt="{{ post.title }}" />
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="col s12 m7">
                    <div class="card-stacked blog-post">
                        <div class="card-content card-padding border-btm">
                            <h4 class="grey-text text-darken-3">{{ post.title  }}</h4>
                        </div>
                        <div class="card-content card-padding border-btm">
                            <p>{{ post.content|slice:":200" }}</p>
                        </div>
                        <div class="card-action card-padding">
                            <a href="{% url 'post_detail' post.id  %}"
                                class="waves-effect waves-light btn rounded-4 text-uppercase sm-blue-button float-right">Read
                                More
                                &rarr;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="btt-link">
    <a class="waves-effect waves-light btn rounded-4 text-uppercase btt">
        <i class="fas fa-arrow-up"></i>
    </a>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script>
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
<script>
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentURL = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentURL.searchParams.set("sort", sort);
            currentURL.searchParams.set("direction", direction);

            window.location.replace(currentURL);
        } else {
            currentURL.searchParams.delete("sort");
            currentURL.searchParams.delete("direction");

            window.location.replace(currentURL);
        }
    })
</script>
{% endblock %}