{% extends "base.html" %} {% load static %} {% load materializecss %}
{% block page_header %}
<div class="row">
    <div class="col s12 valign-wrapper subheading">
        <h4>Contact Us</h4>
    </div>
</div>
{% endblock %}
{% block content %}

<div class="row" id="contact-div">
    <form action="{% url 'contact' %}" method="POST" enctype="multipart/form-data" id="contact"
        onsubmit="return sendMail(this);">
        {% csrf_token %}
        <div class="container">
            <div class="card-panel">
                {{ message_form | materializecss }}
                <div class="submit-button center-align">
                    <a href="{% url 'tours' %}"
                        class="waves-effect waves-light btn rounded-4 text-uppercase sm-blue-button">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span>Back to Tours</span>
                    </a>
                    <button type="submit" class="waves-effect waves-light btn rounded-4 text-uppercase sm-blue-button">
                        <span>Send Message</span>
                        <span class="icon">
                            <i class="fas fa-plus"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="email-success"></div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% include 'contact/send_message.html' %}
{% include 'contact/remove_contact_form.html' %}
<script type="text/javascript">
    (function () {
        emailjs.init("user_O4p1uzoCxjXWmUYNVNa1Y");
    })();
</script>
{% endblock %}