<!--  code validated through JSHint: https://jshint.com/
// jshint esversion: 'template literal syntax' is only available in ES6 (use 'esversion: 6').
// removes contact form and displays success message on sending a message  -->
<script>
    function removeFormSuccess() {
        var el1 = document.getElementById("contact-div");
        el1.parentNode.removeChild(el1);
        var el = "";
        el += `
        <div class="container center-align">
            <div class="row">
                <div class="card-panel">
                    <p class="grey-text text-darken-3">Thanks! We've received your message and will be in touch shortly.</p>
                    <br />
                    <a href="{% url 'tours' %}" class="waves-effect waves-light btn rounded-4 text-uppercase sm-blue-button">
                    <i class="fas fa-chevron-left"></i> Back to All Tours</a>
                </div>
            </div>
        </div>;`;
      document.getElementById("email-success").innerHTML = el;
}
</script>