{% extends "base.html" %} {% load static %} {% load materializecss %}
{% block page_header %}
<div class="row">
    <div class="col s12 valign-wrapper subheading">
        <h4>Contact Us</h4>
    </div>
</div>
{% endblock %}
{% block content %}

<div class="row">
        <div class="container">
            <div class="card-panel add-tour">
                
                <div class="center-align">
                    <a href="{% url 'tours' %}"
                        class="waves-effect waves-light btn rounded-4 text-uppercase sm-blue-button">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span>Back to Tours</span>
                    </a>
                </div>
            </div>
        </div>
</div>
{% endblock %}